@{
    ViewBag.Title = "NEON WEBB | OM OSS";
}


<h2 class="grid_12 caption"><span>Om oss</span> och vad vi är bäst på</h2>
<div class="hr grid_12 clearfix">&nbsp;</div>
<!-- Column 1 / Content -->
<div class="grid_8">
    <h4 class="page_title">Vår idé</h4>
    <div class="hr dotted clearfix">&nbsp;</div>
    <p>
        <i></i>
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel diam id mauris accumsan egestas. Sed sed lorem. Integer id mi vel sapien fermentum vehicula. Pellentesque vitae lacus a sem posuere fringilla. Vestibulum dolor. Phasellus cursus augue ac purus. Curabitur faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel diam id mauris accumsan egestas. Sed sed lorem. Integer id mi vel sapien fermentum vehicula. Pellentesque vitae lacus a sem posuere fringilla. Vestibulum dolor. Phasellus cursus augue ac purus. Curabitur faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    
    <h4 class="page_title">Staff</h4>
    <div class="hr dotted clearfix">&nbsp;</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel diam id mauris accumsan egestas. Sed sed lorem. Integer id mi vel sapien fermentum vehicula. Pellentesque vitae lacus a sem posuere fringilla. Vestibulum dolor. Phasellus cursus augue ac purus. Curabitur faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel diam id mauris accumsan egestas. Sed sed lorem. Integer id mi vel sapien fermentum vehicula. Pellentesque vitae lacus a sem posuere fringilla. Vestibulum dolor. Phasellus cursus augue ac purus. Curabitur faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    
    <h4 class="page_title">Clients</h4>
    <div class="hr dotted clearfix">&nbsp;</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel diam id mauris accumsan egestas. Sed sed lorem. Integer id mi vel sapien fermentum vehicula. Pellentesque vitae lacus a sem posuere fringilla. Vestibulum dolor. Phasellus cursus augue ac purus. Curabitur faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel diam id mauris accumsan egestas. Sed sed lorem. Integer id mi vel sapien fermentum vehicula. Pellentesque vitae lacus a sem posuere fringilla. Vestibulum dolor. Phasellus cursus augue ac purus. Curabitur faucibus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
</div>
<!-- Column 2 / Sidebar -->
<div class="grid_4 contact">
    <h4>NEON WEBB</h4>
    <div class="hr dotted clearfix">&nbsp;</div>
    <ul>
        <li>
            <img class="profilePicture" src="~/Images/tobbe.JPG" /><br/>
            <strong>Tobias Olofsson</strong><br />
            Statistiska centralbyrån<br />
            <br />
        </li>
    </ul>
    <div class="hr dotted clearfix">&nbsp;</div>
    <ul>
        <li>
            <img class="profilePicture" src="~/Images/erik-sundell.jpg" /><br/>
            <strong>Erik Sundell</strong><br />
            Hennes & Mauritz AB<br />
            <br />
        </li>
    </ul>   
</div>

<div class="hr grid_12 clearfix">&nbsp;</div>
